.basic-grid, .advance-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    gap: 5px;
    padding: 5px;
}

.advance-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: blue;
    gap: 5px;
    padding: 5px;
}

.basic-grid>div, .advance-grid>div {
    border: 1px solid black;
    text-align: center;
    line-height: 52px;
    background-color: aqua;
    padding: 15px;
}

.basic-grid .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.basic-grid .item5 {
    grid-row: 2/4;
    grid-column: 3/4;
}

.advance-grid .item7 {
    grid-area: 1/ 2/ 3/ 5;
}